.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

body, .medpurp {
  background-color: mediumslateblue;
}

.purple {
  background-color: mediumslateblue;
}

.spacer {
  padding-bottom: 40px
}

.cardHeight {
  height: 90%
}

.cardHeightmax {
  height: 100%
}


.textshadows {
  text-shadow: 0px 0px 5px black;
}

.imageuploadsizer {
  height: 300px;
  width: 430px
}

.logo {
  color: black;
  font-weight: 750;
}

.steamThumbnail {
  height: 50%;
  width: 20%
}

.logoshadow {
  text-shadow: 0px 0px 10px white;
}

.App {
  text-align: center;
}

.tinywords {
  font-size: 12px
}

.smallwords {
  font-size: 14px
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar { padding-top: 0 !important; padding-bottom: 0 !important; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tiny-tip {
    font-size: 11px;
}

.big-profile {
  height: 46%;
  width: 46%;
}


@media (max-width: 994px) {
  .cardHeight {
    height: 97%
  }
  
}


@media (max-width: 767.98px) {
  .big-profile {
    width: 100%;
  }

  .footer {
    position: relative;
    bottom: 0;
    height: 40px
  }

  .navbar { 
    padding-top: .25rem !important;
    padding-bottom: .25rem !important; 
  }

  .imageuploadsizer {
    height: 20rem;
    width: 26rem
  }
}